.box {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: solid white;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  overflow: auto;
}

.footer {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-basis: 40px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  background-color: #202020;
  padding: 5px;
  margin: 5px;
}

#outerFormDiv {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  background-color: #6b6b6b;
}

#imageWrapper {
  display: flex;
}

.myImage {
  max-width: 200px;
  display: block;
}

#form {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

#outerTxtInput {
  display: flex;
  width: 100%;
  padding: 5px;
  overflow: auto;
  box-sizing: border-box;
  max-height: 158.33px;
}

#txtInput {
  flex-grow: 1;
  word-break: break-word;
  height: 100%;
}

.iconDiv {
  height: 100%;
}

#labelDiv {
  box-sizing: border-box;
  padding-right: 3px;
}

#input[type="file"] {
  display: none;
}
.image-upload {
  cursor: pointer;
}

.messageOuterDiv {
  white-space: pre-wrap;
  min-height: 20px;
  height: auto;
  display: flex;
  align-items: center;
}
.messageDiv {
  margin-left: 10px;
  min-width: 5px;
}
.username {
  color: gray;
}

/*start of homepage css*/
.container-reply {
  position: absolute;
  right: 0px;
  top: -17.5px;
  z-index: 999;
  padding: 5px;
}
.button-reply {
  opacity: 0;
  pointer-events: auto;
}
.button-reply:hover {
  opacity: 1;
  pointer-events: auto;
}

.message {
  margin: 5px;
  border: solid;
  position: relative;
}

.message:hover {
  background-color: #6b6b6b85 !important;
}
.message:hover .button-reply {
  opacity: 1;
  pointer-events: auto;
}
.reply-message {
  border: solid var(--color);
  background-color: rgb(19, 51, 99) !important;
  margin: 5px;
  position: relative;
}
/*end of homepage css */
