.box {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: solid white;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  overflow: auto;
}

.footer {
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
}

#outerFormDiv {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  background-color: #6b6b6b;
}

#imageWrapper {
  display: flex;
}

.myImage {
  max-width: 200px;
  display: block;
}

#form {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

#outerTxtInput {
  display: flex;
  width: 100%;
  padding: 5px;
  overflow: auto;
  box-sizing: border-box;
  max-height: 158.33px;
}

#txtInput {
  flex-grow: 1;
  word-break: break-word;
  height: 100%;
}

.iconDiv {
  height: 100%;
}

#labelDiv {
  border-bottom: solid;
  height: 100%;
  box-sizing: border-box;
}

#input[type="file"] {
  display: none;
}
.image-upload {
  cursor: pointer;
}

.messageOuterDiv {
  white-space: pre-wrap;
  min-height: 20px;
  height: auto;
  display: flex;
  align-items: center;
}
.messageDiv {
  margin-left: 10px;
  min-width: 5px;
}
.username {
  color: gray;
}
