#notificationsDiv {
  display: flex;
  flex-direction: column;
}

.notificationsIndividualDivs {
  display: flex;
  align-items: center;
  border: solid;
  background-color: #65447b;
}

.innerNotificationsDiv {
  background: #06000a;
  border: solid;
  padding: 5px;
  margin-bottom: 5px;
}

.tabDiv {
  margin: 5px;
}

#addFriendDiv {
  display: flex;
}
